<h1>Tchat</h1>

<!-- Zone d'affichage des messages -->
<div class="well">
  <!-- Un message : -->
  <div ng-repeat="message in tchat.messagesList track by $index">
    <span style="cursor: pointer;margin-right: 5px;" class="glyphicon glyphicon-remove btn-supp" ng-click="tchat.remove(message)" ng-show="userData.id == message.idUser"></span><b>{{message.from}} dit:</b> {{message.text}}
  </div>
</div>

<!-- Formulaire d'envoi -->
<form novalidate class="form-inline" ng-submit="tchat.sendMessage()">
  <input type="text" class="form-control" placeholder="Votre message ici..." ng-model="tchat.messageText">
  <input type="submit" class="btn btn-primary" value="Go">
</form>