<h1>Tchat</h1>

<!-- Zone d'affichage des messages -->
<div class="well">
  <!-- Un message : -->
  <div ng-repeat="message in tchat.messagesList track by $index">
    <span style="cursor: pointer;margin-right: 5px;" class="glyphicon glyphicon-remove btn-supp" ng-click="tchat.remove(message)" ng-show="userData.id == message.idUser"></span> <b><img id="photo" ng-src="{{message.picture}}"/>(le {{message.date | date:'dd/MM/yyyy'}} à {{message.date | date:'HH:mm:ss'}} situé à {{message.lieu}}) {{message.from}} dit:</b> {{message.text}}
  </div>
</div>

<!-- Formulaire d'envoi -->
<form novalidate ng-submit="tchat.sendMessage()">
	<div class="input-group">
	<input type="text" class="form-control" ng-model="tchat.messageText" placeholder="Votre message ici...">
		<span class="input-group-btn">
			<input type="submit" class="btn btn-primary pull-right" value="Envoyer">
		</span>
	</div>
</form>